:root {
  --white: #fff;
  --white-50: #d7ccc0;
  --light: #f5f4f0;
  --primary: #fe8a02;
  --primary-dark: #42413c;
  --dark: #2a2626;
  --dark-50: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}
@font-face {
  font-weight: normal;
  font-family: 'Open Sans';
  src: url(../assets/fonts/Open\ Sans/static/OpenSans/OpenSans-Regular.ttf);
}

@font-face {
  font-weight: bold;
  font-family: 'Open Sans';
  src: url(../assets/fonts/Open\ Sans/static/OpenSans/OpenSans-Bold.ttf);
}

@font-face {
  font-family: Neucha;
  src: url(../assets/fonts/Neucha/Neucha-Regular.ttf);
}

@import "https://fonts.googleapis.com/css2?family=Neucha&display=swap";
@import "https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:wght@400;700&display=swap";
body {
  margin: 0;
  padding: 0;

  color: var(--dark);

  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3,
.h1,
.h2,
.h3,
.h4 {
  margin: 0;

  color: var(--primary);

  font-weight: 400;
  font-size: 72px;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h2,
.h2 {
  font-size: 60px;
}

h3,
.h3 {
  font-size: 34px;
}

h4,
.h4 {
  font-size: 24px;
}

a {
  color: var(--blue);
}

img {
  vertical-align: middle;
}
.bg-questions {
  position: relative;

  overflow-x: hidden;
}

.bg-questions::before {
  position: absolute;

  z-index: 0;

  width: 100%;
  height: 100%;

  background-image: url("../assets/images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.main-images {
  position: absolute;
  top: 55px;
  right: -270px;

  z-index: 1;

  height: 525px;
}

.video {
  position: relative;
  bottom: -200px;

  margin-top: -200px;

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.separator {
  width: 100%;
  height: 20px;
}

.shadow {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}
.text-white {
  color: var(--white);
}

.text-light {
  color: var(--light);
}

.text-primary {
  color: var(--primary);
}

.text-primary-dark {
  color: var(--primary-dark);
}

.text-dark {
  color: var(--dark);
}

.text-brown {
  color: var(--brown);
}

.text-dark-50 {
  color: var(--dark-50);
}

.text-white-50 {
  color: var(--white-50);
}

.text-center {
  text-align: center;
}

.bg-light {
  background-color: var(--light);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-brown {
  background-color: var(--brown);
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.align-self-center {
  align-self: center;
}

.pt-200 {
  padding-top: 200px;
}

.pb-200 {
  padding-bottom: 200px;
}

.pb-80 {
  padding-bottom: 80px;
}

.pt-100 {
  padding-top: 100px;
}

.p-24 {
  padding: 24px;
}

.p-40 {
  padding: 40px;
}

.m-0 {
  margin: 0;
}

.mb-185 {
  margin-bottom: 185px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-0 {
  margin-top: 0;
}

.mt-20 {
  margin-top: 20px;
}

.mt-40 {
  margin-top: 40px;
}

.mt-60 {
  margin-top: 60px;
}

.mt-100 {
  margin-top: 100px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.relative {
  position: relative;
}

.z-index-2 {
  z-index: 2;
}

.fz-12 {
  font-size: 12px;
}

.fz-14 {
  font-size: 14px;
}

.fz-18 {
  font-size: 18px;
}

.fz-52 {
  font-size: 52px;
}

.fz-60 {
  font-size: 60px;
}

.text-uppercase {
  text-transform: uppercase;
}
.btn {
  display: inline-block;
  padding: 12px 24px;

  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
}

.btn-primary {
  color: var(--white);

  background-color: var(--primary);
}

.btn-send {
  flex-shrink: 0;

  width: 70px;
  height: 50px;

  border: none;

  cursor: pointer;
}

.btn-icon {
  position: relative;
}

.btn-icon::before {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  transform: translate(-50%, -50%);

  content: "";
}

.icon-send::before {
  width: 24px;
  height: 24px;

  background: url("../assets/images/send.svg") no-repeat;
}
.card {
  display: block;
  box-sizing: border-box;

  height: 100%;
  padding: 24px;

  color: inherit;
  text-decoration: none;

  background-color: var(--light);
}

.card-body {
  margin-bottom: 0;
}

.card-number {
  margin: 0 0 40px;

  font-weight: 400;
  font-size: 64px;

  font-family: Neucha, cursive;

  line-height: 1;
}

.card:hover {
  color: var(--white);

  background-color: var(--primary);
}

.card:hover .card-title {
  color: var(--white);
}
.form-input {
  box-sizing: border-box;

  width: 100%;
  height: 50px;

  padding: 15px;

  border: none;
}
.container {
  position: relative;

  box-sizing: border-box;

  width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.row {
  display: flex;
  flex-wrap: wrap;

  margin: 0 -15px;
}

.col {
  flex: 1 0 0;

  padding: 0 15px;
}
.manifest {
  box-sizing: border-box;

  width: 100%;
  padding: 5px 10px;

  font-weight: bold;
  font-size: 14px;

  font-family: "Open Sans", sans-serif;

  text-transform: uppercase;
}

.manifest-brown {
  color: var(--white);

  background-color: var(--brown);
}

.manifest-white {
  color: var(--brown);

  background-color: var(--white);
}